<div id="company_number_" style="overflow-y: hidden;">
    <div class="users_lables">
        <span class="name"></span>
        <span class="quota"></span>
        <span class="qtuta_type"></span>
    </div>
    <div class="users_inputs">
        <form>
            <input type="text" class="form-control" name="name" value="">
            <input type="text" class="form-control" name="quota" value="">
            <!--<input type="text" name="company" style="width: 150px;" value="">-->
            <select class="form-control" name="quota_type"></select>
            <input type="hidden" name="id" value="">
        </form>
        <input type="submit" class="user_buttons btn btn-default btn-sm" value="Save" name="saveCompany" onclick="Core.modules.Companies.saveCompany(this);">
        <input type="submit" class="user_buttons btn btn-default btn-sm" value="Cancle" name="cancleEdit" onclick="Core.modules.Companies.cancleEdit(this);">
    </div>
    <input type="submit" value="Edit" class="user_edit_buttons btn btn-default btn-sm" name="editCompany" onclick="Core.modules.Companies.editCompany(this);">
    <input type="submit" value="Delete" class="user_edit_buttons btn btn-default btn-sm" name="deleteCompany" onclick="Core.modules.Companies.deleteCompany(this);">
    <div class="clear"></div>
</div>