<div id="report_number_" style="overflow-y: hidden;">
    <div class="users_lables">
        <span class="name"></span>
        <span class="quota"></span>
    </div>
    <div class="clear"></div>
</div>