/* #### bootstrap Form #### */
.bootstrap-frm {
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
}
.bootstrap-frm h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}
.bootstrap-frm h1>span {
    display: block;
    font-size: 11px;
}
.bootstrap-frm li {
    display: inline;
}
.bootstrap-frm label {
    display: block;
    margin: 0px 0px 5px;
}
.bootstrap-frm label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.bootstrap-frm input[type="password"], .bootstrap-frm input[type="text"], .bootstrap-frm input[type="email"], .bootstrap-frm textarea, .bootstrap-frm select, .edit-usr-form input[type="text"]{
    background:none #fff;
    border: 1px solid #CCC;
    color: #888;
    height: 35px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 86%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bootstrap-frm select {
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 86%;
    height: 35px;
    line-height:15px;
}
.bootstrap-frm textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.edit-usr-form .button,.bootstrap-frm .button {
    background-color:#21a9e7;
	color:#ffffff;
	background-image:none;
	text-align:center;
	height:38px;
	width:100px;
	font-weight:bold;
	text-transform:uppercase;
	border: 1px solid #d3d3d3;
	border-radius:4px;
	font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.bootstrap-frm .button:hover {
    /* color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD; */
	border: 1px solid #000;
}

/*
 * MAIN CSS
 */
body {
    padding : 10px;
}

#exTab .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

#exTab .tab-content {
    /*
    color : white;
    background-color: #428bca;
    */
    border: 1px solid #D0D0D0;
    padding : 5px 15px;
}

::selection {
    background-color: #E13300; 
    color: white; 
}

::-moz-selection { 
    background-color: #E13300; 
    color: white; 
}

body {
    background-color: #fff;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#body {
    margin: 0 15px 0 15px;
}

p.footer {
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container {
    margin: 10px;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}   

#opaco {
    background-color: rgba(0,0,0,0.4);
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
}

.loading {
    overflow: hidden;   
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    /*background: rgba( 255, 255, 255, 0.8 ) url('../images/loader.gif') 50% 50% no-repeat;*/
    background: rgba(0 , 0, 0, 0.4) url('../images/loader.gif') 50% 50% no-repeat;
    background-image: url('../images/loader.gif');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: #FFFFFF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.loading .modal {
    display: block;
}

.users_lables, .users_inputs{
    float: left;
    margin: 0 30px 10px 0;
    width: 65%;
    line-height: 30px;
}

.users_header{
    float: left;
    margin: 0 30px 10px 0;
    width: 100%;
    line-height: 30px;
    text-align: center;
    font-weight: 900;
}

.users_inputs, .user_buttons{
    display: none;
}

.users_inputs input[type="text"], .users_inputs select, .users_lables span, .users_header span{
    width: 220px;
    float: left;
    margin-right: 15px;
}

.oprion_tab{
    height: 40px;
}

.oprion_tab select, .oprion_tab input{
    width: 120px;
    float: left;
    margin-right: 25px;
    line-height: 20px;
}

.oprion_tab label {
    width: 40px;
    float: left;
    margin-right: 10px;
    line-height: 20px;
    padding-top: 6px;
}

#dialogBox {
	padding: 29px 1px 9px;
}

#users_table, #companies_table, #transfer_logs_table{
    margin-top: 15px;
}