<form class="bootstrap-frm">
    <ul>
        <li id="li_1">
            <label for="element_1" class="description">Name</label>
            <div>
                <input type="text" id="element_1" class="element text medium" value="" name="name">
            </div>
        </li>
        <li id="li_2">
            <label for="element_2" class="description">E-mail Adress</label>
            <div>
                <input type="text" id="element_2" class="element text medium" value="" name="email">
            </div>
        </li>
        <li id="li_3">
            <label for="element_3" class="description">Companies</label>
            <div>
                <select id="element_3" class="element text medium" name="company"></select>
            </div>
        </li>
    </ul>
</form>
<div class="bootstrap-frm">
    <ul>
        <li class="buttons">
            <input type="submit" value="Save" name="save" class="button" style="cursor: pointer;" onclick="Core.modules.Users.addUser();">
            <input type="submit" value="Cancel" name="cancel" class="button" style="cursor: pointer;" onclick="Core.modules.Users.closeDialog();">
        </li>
    </ul>
</div>
