<div id="user_number_" style="overflow-y: hidden;">
    <div class="users_lables">
        <span class="name"></span>
        <span class="email"></span>
        <span class="company"></span>
    </div>
    <div class="users_inputs">
        <form>
            <input type="text" class="form-control" name="name" value="">
            <input type="text" class="form-control" name="email" value="">
            <!--<input type="text" name="company" style="width: 150px;" value="">-->
            <select class="form-control" name="company"></select>
            <input type="hidden" name="id" value="">
        </form>
        <input type="submit" class="user_buttons btn btn-default btn-sm" value="Save" name="saveUser" onclick="Core.modules.Users.saveUser(this);">
        <input type="submit" class="user_buttons btn btn-default btn-sm" value="Cancle" name="cancleEdit" onclick="Core.modules.Users.cancleEdit(this);">
    </div>
    <input type="submit" value="Edit" class="user_edit_buttons btn btn-default btn-sm" name="editUser" onclick="Core.modules.Users.editUser(this);">
    <input type="submit" value="Delete" class="user_edit_buttons btn btn-default btn-sm" name="deleteUser" onclick="Core.modules.Users.deleteUser(this);">
    <div class="clear"></div>
</div>